{% extends 'platform/ground.html' %}
{% block 'head' %}
    <script>
        function getBaseURL(){
          var getUrl = window.location;
          return getUrl.protocol + "//" + getUrl.host;
        }

        function toggleSidebar(){
            $("#wrapper").toggleClass("toggled");
        }

        function deletePost(pid){
            $.ajax({
                type: 'DELETE',
                crossOrigin: true,
                url: getBaseURL() + "/posts/",
                data: { 'id' : pid },
                dataType: "json",
                success: function(result){
                  console.log(result);
                },
                error: function(err){
                  console.log(err);
                }
            });
            setTimeout(function(){location.reload();}, 700);
        }

        function addPost(){
          titleVal = document.getElementById("titleInput").value;
          textVal = document.getElementById("contentInput").value;
          $.ajax({
                type: 'POST',
                crossOrigin: true,
                url: getBaseURL() + "/posts/",
                data: { 'title' : titleVal, 'content': textVal},
                dataType: "json",
                success: function(result){
                  console.log(result);
                },
                error: function(err){
                  console.log(err);
                }
            });
            setTimeout(function(){location.reload();}, 700);
        }
    </script>
{% endblock %}

</head>

<body onload="toggleSidebar()">
    <div id="wrapper" toggled="true">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../posts/">
                        Simple Blog App
                    </a>
                </li>
                <li>
                    <a href="#">Posts</a>
                </li>
                <li>
                    <a href="../admin/?comments=True">Comments</a>
                </li>
                <li>
                    <a href="../logout/">Logout</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <button type="button" class="btn btn-info" name="addBtn{{post.id}}" data-toggle='modal' data-target='#addPostModal'>Add Post</button>
              <br><br>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Post_id</th>
                    <th>Title</th>
                    <th>Claps</th>
                    <th>Created_at</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for post in posts %}
                    <tr>
                      <th scope="row">{{post.id}}</th>
                      <td>{{post.post_title}}</td>
                      <td>{{post.post_claps}}</td>
                      <td>{{post.post_create_time}}</td>
                      <td><button type="button" class="btn btn-danger" name="deleteBtn{{post.id}}" onclick="deletePost({{post.id}})">Delete</button></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>


          <!-- Modal -->
          <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addPostModalLabel">Enter Post Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <label for="postTitle">Title</label>
                      <input type="text" class="form-control" id="titleInput" name="titleInput" placeholder="Title Here">
                    </div>
                    <div class="form-group">
                      <label for="postContents">Contents</label>
                      <textarea class="form-control" id="contentInput" name="contentInput" rows="8" placeholder="Contents Here"></textarea>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-info" onclick="addPost()">Add Post</button>
                </div>
                
              </div>
            </div>
          </div>
    </div>
</body>

</html>