{% extends 'platform/ground.html' %}
{% block 'head' %}
    <script>
        function onLoad() {

        }

        function deletePost(news_id) {
            $.ajax({
                type: 'POST',
                crossOrigin: true,
                url: "{% url 'panel.module.management_news.process_dispatch_param' 'post' 'delete' %}",
                data: { 'id' : news_id },
                dataType: "json",
                success: function(result) {
                  console.log(result);
                },
                error: function(err) {
                  console.log(err);
                }
            });
            setTimeout(function(){location.reload();}, 700);
        }

        function addPost() {
          news_title = document.getElementById("news_title").value;
          news_content = document.getElementById("news_content").value;
          $.ajax({
                type: 'POST',
                crossOrigin: true,
                url: "{% url 'panel.module.management_news.process_dispatch_param' 'post' 'add' %}",
                data: { 'news_title' : news_title, 'news_content': news_content},
                dataType: "json",
                success: function(result) {
                  console.log(result);
                },
                error: function(err) {
                  console.log(err);
                }
            });
            setTimeout(function(){location.reload();}, 700);
        }

        function deleteComment(cid) {
            $.ajax({
                type: 'POST',
                crossOrigin: true,
                url: "{% url 'panel.module.management_news.process_dispatch_param' 'comment' 'delete' %}",
                data: { 'id' : cid },
                dataType: "json",
                success: function(result) {
                  console.log(result);
                },
                error: function(err) {
                  console.log(err);
                }
            });
            setTimeout(function(){location.reload();}, 700);
        }
    </script>
{% endblock %}

{% block 'navigation' %}
    <li><a href="{% url 'panel.module.management_news.view_dispatch' 'post' %}">Post Management</a></li>
    <li><a href="{% url 'panel.module.management_news.view_dispatch_param' 'comment' 'all' %}">Comment Management</a></li>
{% endblock %}
