<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        {% include "common/common_meta.html" %}
        {% include "common/common_favicon.html" %}
        {% include "common/common_css.html" %}
        {% include "common/common_js.html" %}

        <!-- In-hosue customized CSS -->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

    <body onload="">
        <div class="wrapper">
            <div class="login-form">
                <form action="login" method="post">
                    <div class="avatar"><img src="{% static 'img/login/CICSA_Logo.png' %}" style="margin:auto; width: 100%;"></div>
                    <h4 class="modal-title">Admin Login</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                </form>
                <div class="text-center small">Any Questions? <a href="#">Contact Here</a></div>
            </div>
        </div>
    </body>

</html>                                		                            