[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
django-cors-middleware = "*"
pyparsing = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
django = ">=2.2.2"
"psycopg2" = "==2.7.3.2"
urllib3 = ">=1.24.2"
django-dotenv = "*"
whitenoise = "*"
attrdict = "*"
newrelic = "*"

[dev-packages]

[requires]
python_version = "3.6"
