{% extends 'platform/base.html' %}
{% block 'head' %}
{% endblock %}
{% block 'body' %}
    <h4><pre>{{ page.block_title }}</pre></h4>
    <div class="card">
        <div class="card-body">
            <div class="container-fluid row mb-2">
                <div class="col col-lg-1">
                    Rank
                </div>
                <div class="col col-lg-3">
                    School
                </div>
                <div class="col col-lg-1">
                    #Race
                </div>
                <div class="col col-lg-2">
                    Calculated
                </div>
                <div class="col col-lg-2">
                    Recorded
                </div>
                <div class="col col-lg-3">
                    Override
                </div>
            </div>
            <hr>
            <form action="{{ page.action_destination }}" id="{{ page.form_id }}" method="post">
                {% csrf_token %}
                {% for idx, content in page.contents %}
                    <div class="container-fluid row mt-4 form-group">
                        <div class="col col-lg-1">
                            {{ idx }}
                        </div>
                        <div class="col col-lg-3">
                            <a href="{{ content.school_score_url  }}">{{ content.school_name }}</a>
                        </div>
                        <div class="col col-lg-1">
                            {{ content.participated_event_num }}
                        </div>
                        <div class="col col-lg-2">
                            {{ content.league_calculated_score }}
                        </div>
                        <div class="col col-lg-2">
                            {{ content.league_recorded_score }}
                        </div>
                        <div class="col col-lg-3">
                            <input
                                    class="form-control"
                                    type="number"
                                    step="0.0001"
                                    min="0"
                                    name="{{ content.school_id }}"
                                    value=""
                                    placeholder="Empty for Calculated"
                            >
                        </div>
                    </div>
                {% endfor %}
                <div class="container-fluid row mt-4">
                    <div class="col col-lg-6 offset-lg-3">
                        <button type="submit" class="btn btn-info btn-lg btn-block">Finalize League Scoring</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}