<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        {% include "common/common_meta.html" %}
        {% include "common/common_favicon.html" %}
        {% include "common/common_css.html" %}
        {% include "common/common_js.html" %}

        <!-- In-hosue customized CSS -->
        <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

        <!-- In-house Customized Javascript Libraries -->
        <script src="{% static 'js/viewFunctions.js' %}"></script>

        {% block 'head' %}
            <script>
                function onLoad() {
                    // dummy onLoad function
                }
            </script>
        {% endblock %}
    </head>

    <body onload="onLoad();">
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <div class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{% url 'panel.index' %}">Management Panel</a>
                    </li>
                    {% block 'navigation' %}
                    {% endblock %}
                    <li><a href="{% url 'permission.dispatch' route='logout' %}">Logout</a></li>
                    <br>
                    <li style="color:#e0e0e0">Version 0.1</li>
                </div>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="mb-3">
                        <a href="#menu-popup" id="menu-popup">
                            <i class="fa fa-bars fa-2x"></i>
                        </a>
                    </div>

                    {% block 'body' %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script>
            $("#menu-popup").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
    </body>

</html>
