{% extends 'platform/base.html' %}
{% block 'head' %}
{% endblock %}
{% block 'body' %}
    <h4><pre>{{ page.block_title }}</pre></h4>
    {% for content in page.contents %}
        <div class="card" style="width: 36rem;" class="">
            <div class="card-header">
                {{ content.event_type|title }}
            </div>
            <div class="card-body">
                <a href="{{ content.destination }}" class="btn btn-primary">View all {{ content.event_type }} events</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
