{% extends 'platform/base.html' %}
{% block 'head' %}
{% endblock %}
{% block 'body' %}
    <div class="row" style="">
        {% for type in types %}
            <div class="col-md-{{ type_style.width }}">
                <button type="button" class="btn btn-block btn-info btn-lg"
                        style="height: 500px" onclick="redirect('event/{{ type }}');">
                    {{ type|title }}
                </button>
            </div>

        {% endfor %}
    </div>
{% endblock %}
