{% extends 'platform/ground.html' %}
{% block 'navigation' %}
    <button class="dropdown-btn" onclick="showDropdown(1);">
        <li>Event <i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-1">
        <ul>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'event' 'custom' %}">Event (Logic-less)</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'summary' 'custom' %}">Summary</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'event activity' 'custom' %}">Event Activity</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'event tag' 'custom' %}">Event Tag</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'event team' 'custom' %}">Event Team Link</a></li>
        </ul>
    </div>

    <button class="dropdown-btn" onclick="showDropdown(2);">
        <li>School <i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-2">
        <ul>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'school' 'custom' %}">School</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'team' 'custom' %}">Team</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'member' 'custom' %}">Member</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'member group' 'custom' %}">Member Group</a></li>
        </ul>
    </div>

    <button class="dropdown-btn" onclick="showDropdown(3);">
        <li>Global Settings <i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-3">
        <ul>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'season' 'general' %}">Season</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'region' 'general' %}">Region</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'event type' 'general' %}">Event Type</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'score mapping' 'general' %}">Score Map</a></li>
        </ul>
    </div>

    <button class="dropdown-btn" onclick="showDropdown(4);">
        <li>System Info<i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-4">
        <ul>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param'  'account' 'custom' %}">Account</a></li>
            <li><a href="{% url 'panel.module.management_data.view_dispatch_param' 'log' 'general' %}">Log</a></li>
        </ul>
    </div>
{% endblock %}

