{% extends 'platform/ground.html' %}
{% block 'navigation' %}
    <button class="dropdown-btn" onclick="showDropdown(1);">
        <li>Event <i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-1">
        <ul>
            <li><a href="{% url 'adminCustomView' 'event' %}">Event (Logic-less)</a></li>
            <li><a href="{% url 'adminCustomView' 'summary' %}">Summary</a></li>
            <li><a href="{% url 'adminCustomView' 'event activity' %}">Event Activity</a></li>
            <li><a href="{% url 'adminCustomView' 'event tag' %}">Event Tag</a></li>
            <li><a href="{% url 'adminCustomView' 'event team' %}">Event Team Link</a></li>
        </ul>
    </div>

    <button class="dropdown-btn" onclick="showDropdown(2);">
        <li>School <i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-2">
        <ul>
            <li><a href="{% url 'adminCustomView' 'school' %}">School</a></li>
            <li><a href="{% url 'adminCustomView' 'team' %}">Team</a></li>
            <li><a href="{% url 'adminCustomView' 'member' %}">Member</a></li>
            <li><a href="{% url 'adminCustomView' 'member group' %}">Member Group</a></li>
        </ul>
    </div>

    <button class="dropdown-btn" onclick="showDropdown(3);">
        <li>Global Settings <i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-3">
        <ul>
            <li><a href="{% url 'adminGeneralView' 'season' %}">Season</a></li>
            <li><a href="{% url 'adminGeneralView' 'region' %}">Region</a></li>
            <li><a href="{% url 'adminGeneralView' 'event type' %}">Event Type</a></li>
            <li><a href="{% url 'adminGeneralView' 'score mapping' %}">Score Map</a></li>
        </ul>
    </div>

    <button class="dropdown-btn" onclick="showDropdown(4);">
        <li>System Info<i class="fa fa-caret-down"></i></li>
    </button>
    <div class="custom-dropdown-container" id="dropdown-container-4">
        <ul>
            <li><a href="{% url 'adminCustomView' 'account' %}">Account</a></li>
            <li><a href="{% url 'adminGeneralView' 'log' %}">Log</a></li>
        </ul>
    </div>
{% endblock %}

