{% extends 'blackbox/platform/header.html' %}
{% block 'head' %}
    {% if type.form %}
        <script>
            function json_prettify(blob) {
                var json_obj = JSON.parse(blob.value);
                var pretty_json_string = JSON.stringify(json_obj, undefined, 4);
                return pretty_json_string;
            }

            function onLoad(){
                var childTagsTable = ['input', 'textarea', 'select'];
                var child = document.getElementById("{{context.form_id}}").children;
                for(i=0; i<child.length; i++) {
                    if(child[i].tagName.toLowerCase() == 'p'){
                        child[i].className = "form-group";
                        sub_child = child[i].children;
                        for(j=0; j<sub_child.length; j++){
                            subchildTag = sub_child[j].tagName.toLowerCase();
                            if(childTagsTable.includes(subchildTag)){
                                sub_child[j].className = "form-control";
                            }
                        }
                    }else if(child[i].tagName.toLowerCase() == 'input'){
                        child[i].className = "btn btn-lg btn-block ";
                        if(child[i].name.toLowerCase() == 'add'){
                            child[i].className += "btn-outline-success";
                        }else if(child[i].name.toLowerCase() == 'edit'){
                            child[i].className += "btn-outline-info";
                        }else if(child[i].name.toLowerCase() == 'delete'){
                            child[i].className += "btn-outline-danger";
                        }
                    }
                }
                var text_areas = document.querySelectorAll("p.form-group > textarea");
                for(var i = 0; i < text_areas.length; i++){
                    try{
                        text_areas[i].value = json_prettify(text_areas[i]);
                    }catch(error){
                        console.log(text_areas[i].name + ' does not contain JSON formatted data');
                    }
                }
            }
        </script>
    {% endif %}
{% endblock %}
{% block 'body' %}
    <h2>{{ page_title }}</h2>
    <hr>
    {% if type.table %}
        {% for element in context %}
            <div class="d-inline">
                <p>
                    <pre>{{ element.title }}</pre>
                    <button type="button" style="float:right; margin-top: -45px;" class="btn btn-outline-{{ element.tableElement.add_button.style }}" onclick="redirect('{{ element.tableElement.add_button.redirect }}');">
                        {{ element.tableElement.add_button.title }}
                    </button>
                </p>
            </div>
            {% include "blackbox/platform/component/table.html" with tableHeader=element.tableHeader tableContent=element.tableContent only %}
        {% endfor %}
    {% endif %}
    {% if type.form %}
        {% include "blackbox/platform/component/regularForm.html" with action_destination=context.destination form_action=context.form_action form_id=context.form_id form=context.form special_context=special_context only %}
    {% endif %}
{% endblock %}