{% load static %}

<!-- 3rd Party Analytics Javascript Libraries -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127387198-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-127387198-1');
</script>

<!-- In-house Utility Functions -->
<script>
	function redirect(link){
        window.location.href = link;
    }
</script>

<!-- 3rd Party Framework Javascript Libraries -->
<script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>