<h4><pre>{{ context.block_title }}</pre></h4>
<div class="card mb-4">
    <div class="card-header">
        <div class="container-fluid row">
            <div class="col col-lg-8">
                <b>Event Activities</b>
            </div>
            <div class="col col-lg-auto">
                <b>Status</b>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% for content in context.contents %}
            <div class="container-fluid row">
                <div class="col col-lg-8">
                    <a href="{{ content.event_activity_link }}">{{ content.event_activity_text }}</a>
                </div>
                |
                <div class="col col-lg-auto">
                    {{ content.event_activity_status }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
