<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="CICSA News">
      <meta name="author" content="Jeffrey Kam">

      <title>CICSA News</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <style type="text/css">
        body {
          padding-top: 56px;
        }
        .portfolio-item {
          margin-bottom: 30px;
        }
      </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="../../../posts">CICSA News</a>
        <button
                class="navbar-toggler"
                type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>qq
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% if signedIn == False %}
                <a class="nav-link" href="../permission/">Login</a>
              {% endif %}
              {% if signedIn == True %}
                <a class="nav-link" href="../../../admin/?posts=True">Admin</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Posts
        <small>by {{name}}</small>
      </h1>
      <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="../../../posts/?id={{post.id}}">{{post.post_title}}</a>
              </h4>
              <p class="card-text">{{post.post_content}}</p>
              <div class="card-footer text-muted">
                Posted on {{post.post_create_time}}
                <hr>
                Claps: {{post.post_claps}} 
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </body>

</html>
