{% extends 'client/index.html' %}
{% block content %}
	<div class="container mt-3">

		<h1 class="text-center mb-3">{{ page_data.event_details.name }}</h1>

		<h4>Details</h4>
		<ul class="list-group mb-5">
			{% for i in "1234567890a" %}
				<li class="list-group-item">
					<div class="row">
						<div class="col">
							{% cycle 'Name' 'Description' 'Scoring' 'Rotation' 'Season' 'Region' 'Host' 'Location' 'Status' 'Start Date' 'End Date' %}:
						</div>
						<div class="col">
							{% with details=page_data.event_details %}
								{% if i == "3" or i == "4" or i == "5" or i == "6" or i == "7" %}
									<a href="{% cycle details.scoring.1 details.rotation.1 details.season.1 details.region.1 details.host.1 %}">
										{% cycle details.scoring.0 details.rotation.0 details.season.0 details.region.0 details.host.0 %}
									</a>
								{% else %}
									{% cycle details.name details.description details.location details.status details.start details.end %}
								{% endif %}
							{% endwith %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>

        <h4>Rotation</h4>
        {% for fleet_name, teams in page_data.rotation_details.items %}
			<h5>{{ fleet_name }}</h5>
			<div class="table-responsive {% if not forloop.last %} mb-5 {% else %} mb-4 {% endif %}">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Team</th>
							{% for team in teams.values %}
								{% if forloop.first %}
									{% for rotation in team.rotations %}
										<th scope="col">{{ forloop.counter }}</th>
									{% endfor %}
								{% endif %}
							{% endfor %}
						</tr>
					</thead>
                    {% for team in teams.values %}
						<tr>
							<td>{{ team.team_name }}</td>
                            {% for rotation in team.rotations %}
								<td>{{ rotation }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endfor %}

	</div>
{% endblock %}