{% block content %}
	<div class="container mt-3">
		<div class="row">
			<div class="col-lg-4">
				<h3>Standings</h3>
				{% if standings %}
					<ol>
						{% for standing in standings %}
							<li>{{ standing }}</li>
						{% endfor %}
					</ol>
				{% else %}
					No Standings
				{% endif %}
			</div>
			<div class="col-lg-8">
				<h3>Upcoming Regattas</h3>
				{% if regattas %}
					<table class="table">
						<tbody>
							{% for regatta in regattas %}
								<tr>
									<td scope="row">{{ regatta.name }}</th>
									<td>{{ regatta.university }}</td>
									<td>{{ regatta.location }}</td>
									<td>{{ regatta.date }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					No Upcoming Regattas
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>News/Notices</h3>
				{% for news in all_news %}
					<p>{{ news }}</p>
				{% empty %}
					No News/Notices
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}