<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CISCA Ranking Platform">
    <meta name="author" content="Jeffrey Kam">
    <title>CISCA Ranking Platform</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <style>
      .navbar{
        box-shadow: 0 5px 11px 0 rgba(50,50,50,0.08);
      }
      .navbar-light .navbar-toggler{
        color: rgba(0,0,0,0.7);
        border-color: rgba(128,128,128,0.2);
      }
      .navbar-toggler:focus, .navbar-toggler:hover{
        background-color: rgb(230,230,230);
      }
    </style>
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127387198-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-127387198-1');
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light static-top">
      <div class="container">
        <a class="" href="{% url 'client.index' %}">
          <img src="{% static 'img/login/CICSA_Logo.png' %}" style="margin: auto; height:62px; width: 62px;">
        </a>
        <button
                class="navbar-toggler collapsed"
                type="button" data-toggle="collapse"
                data-target="#navigation-collapse"
                aria-controls="navigation-collapse"
                aria-expanded="false"
                aria-label="Expand Navigation Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation-collapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'client.regattas' %}">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'client.schools' %}">School</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'client.seasons' %}">Season</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">League Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">News <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="padding-top:6px">
              <a class="badge badge-info" href="{% url 'panel.index' %}">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 class="text-center mb-3">Welcome to the New CICSA Ranking Platform \0 U 0/ </h1>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endblock %}

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">Version 0.1</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/CICsailing/">
                  <i class="fa fa-facebook  fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="mailto:info@cicsailing.ca">
                  <i class="fa fa-envelope  fa-fw"></i>
                </a>
              </li>
              <li  class="list-inline-item mr-3">
                <a href="https://github.com/lazypanda10117/CICSA-Ranking-Platform">
                  <i class="fa fa-github fa fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
