<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CISCA Ranking Platform">
    <meta name="author" content="Jeffrey Kam">
    <title>CISCA Ranking Platform</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">CICSA Ranking Platform</a>
        <ul class="navbar-nav">
          {% comment %}
          <li class="nav-item active">
            <a class="nav-link" href="#">League Ranking <span class="sr-only">(current)</span></a>
          </li>
          {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="#">Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">School</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Season</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Region</a>
          </li>
          <li class="nav-item" style="padding-left: 20px;">
            <a class="btn btn-primary" href="/panel">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0"><a href="#">Terms of Use</a> </p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/CICsailing/">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="mailto:info@cicsailing.ca">
                  <i class="fa fa-envelope fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
