<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}

    {% include "common/common_meta.html" %}
    {% include "common/common_favicon.html" %}
    {% include "common/common_css.html" %}
    {% include "common/common_js.html" %}

    <!-- In-hosue customized CSS -->
    <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light static-top">
      <div class="container">
        <a class="" href="{% url 'client.index' %}">
          <img src="{% static 'img/login/CICSA_Logo.png' %}" style="margin: auto; height:62px; width: 62px;">
        </a>
        <button
                class="navbar-toggler collapsed"
                type="button" data-toggle="collapse"
                data-target="#navigation-collapse"
                aria-controls="navigation-collapse"
                aria-expanded="false"
                aria-label="Expand Navigation Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation-collapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'client.regattas' %}">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'client.schools' %}">School</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'client.seasons' %}">Season</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">League Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">News <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="padding-top:6px">
              <a class="badge badge-info" href="{% url 'panel.index' %}">Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 class="text-center mb-3">Welcome to the New CICSA Ranking Platform \0 U 0/ </h1>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endblock %}

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">Version 0.1</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/CICsailing/">
                  <i class="fa fa-facebook  fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="mailto:info@cicsailing.ca">
                  <i class="fa fa-envelope  fa-fw"></i>
                </a>
              </li>
              <li  class="list-inline-item mr-3">
                <a href="https://github.com/lazypanda10117/CICSA-Ranking-Platform">
                  <i class="fa fa-github fa fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
