{% extends 'client/index.html' %}
{% block content %}
	<div class="container mt-3">

		<h1 class="text-center mb-3">{{ regatta.event_details.name }}</h1>
		<h4>Details</h4>
		<ul class="list-group mb-5">
			{% for i in "123456789" %}
				<li class="list-group-item">
					<div class="row">
						<div class="col">
							{% cycle 'Name' 'Description' 'Season' 'Region' 'Host' 'Location' 'Status' 'Start Date' 'End Date' %}:
						</div>
						<div class="col">
							{% with details=regatta.event_details %}
								{% if i == "3" or i == "4" or i == "5" %}
									<a href="{% cycle details.season.1 details.region.1 details.host.1 %}">{% cycle details.season.0 details.region.0 details.host.0 %}</a>
								{% else %}
									{% cycle details.name details.description details.location details.status details.start details.end %}
								{% endif %}
							{% endwith %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>

		<h4>Ranking</h4>
		<div class="table-responsive mb-5">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">School</th>
						<th scope="col">Score</th>
						<th scope="col">Ranking</th>
						<th scope="col">Note</th>
					</tr>
				</thead>
				<tbody>
					{% for school in regatta.school_current_ranking %}
						<tr>
							<td scope="row">{{ school.school_name }}</td>
							<td>{{ school.score }}</td>
							<td>{{ school.ranking }}</td>
							<td>{{ school.note }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% for fleet_name, team_results in regatta.event_activity_scoring_detail.items %}
			<h4>{{ fleet_name }}</h4>
			<div class="table-responsive {% if not forloop.last %} mb-5 {% else %} mb-4 {% endif %}">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Rank</th>
							<th scope="col">Team</th>
							{% for team_result in team_results.values %}
								{% if forloop.first %}
									{% for score in team_result.scores %}
										<th scope="col">{{ forloop.counter }}</th>
									{% endfor %}
								{% endif %}
							{% endfor %}
							<th scope="col">Total</th>
						</tr>
					</thead>
					{% for team_result in team_results.values %}
						<tr>
							<td scope="row">{{ team_result.rank }}</td>
							<td>{{ team_result.team_name }}</td>
							{% for score in team_result.scores %}
								<td>{% if score == 0 %} # {% else %} {{ score }} {% endif %}</td>
							{% endfor %}
							<td>{{ team_result.final_score }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endfor %}


	</div>
{% endblock %}