{% block content %}
	<div class="container mt-3">
		<h2>{{ regatta.name }}</h2>
		<ul class="list-group">
			<li class="list-group-item">
				{% for i in 123456789 %}
					<div class="row">
						<div class="col">
							{% cycle 'Name' 'Description' 'Season' 'Host' 'Location' 'Status' 'Start Date' 'End Date' %}:
						</div>
						<div class="col">
							{% cycle regatta.name regatta.description regatta.season regatta.host regatta.location regatta.status regatta.start_date regatta.end_date %}
						</div>
					</div>
				{% endfor %}
			</li>
		</ul>

		<h4>Ranking</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">School</th>
					<th scope="col">Ranking</th>
				</tr>
			</thead>
			<tbody>
				{% for school in regatta.schools %}
					<tr>
						<td scope="row">{{ school.name }}</td>
						<td>{{ school.ranking }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% for fleet in regatta.fleets %}
			<h4>{{ fleet.title }}</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col"></th>
						{% for team_result.scores|length %}
							<th scope="col">{{ forloop.counter }}</th>
						{% endfor %}
					</tr>
				</thead>
				{% for team_result in regatta.fleet.team_results%}
					<tr>
						<td scope="row">{{ team_result.team_name }}</td>
						{% for score in team_result.scores %}
							<td>{{ score }}</td>
						{% endfor %}
						<td>{{ team_result.final_score }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}


	</div>
{% endblock %}