{% extends 'client/index.html' %}
{% block content %}
    <div class="container mt-3">
        <h1 class="text-center mb-3">{{ page_data.school_info.school_name }}</h1>
        <h4>Details</h4>
        <ul class="list-group mb-5">
            {% for i in "123" %}
				<li class="list-group-item">
					<div class="row">
						<div class="col">
							{% cycle 'Region' 'Status' 'Season Score' %}:
						</div>
						<div class="col">
							{% with info=page_data.school_info %}
								{% cycle info.school_region info.school_status info.school_season_score %}
							{% endwith %}
						</div>
					</div>
				</li>
			{% endfor %}
        </ul>

        <h4>Events</h4>
        <p>We are Twice!</p>
    </div>
{{ page_data }}
{% endblock %}