{% block content %}
	<div class="container mt-3">
		<h2>Team Name</h2>

		<h4>Information:</h4>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">School: {{ team.school }}</li>
			<li class="list-group-item">Mascot: {{ team.mascot }}</li>
			<li class="list-group-item">Region: {{ team.region }}</li>
			<li class="list-group-item">Location: {{ team.location }}</li>
			<li class="list-group-item">Yacht Club: {{ team.yacht_club }}</li>
			<li class="list-group-item">Captain/President: {{ team.captain }}</li>
		</ul>

		<h4>Roster:</h4>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Position</th>
					<th scope="col">Graduating Year</th>
					<th scope="col">Years Sailing in CICSA</th>
					<th scope="col">Home Yacht Club</th>
				</tr>
			</thead>
			<tbody>
				{% for person in team.people %}
					<tr>
						<td scope="row">{{ person.name }}</th>
						<td>{{ person.position }}</td>
						<td>{{ person.grad_year }}</td>
						<td>{{ person.years_sailing_cicsa }}</td>
						<td>{{ person.home_club }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h4>Team Results:</h4>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Event</th>
					<th scope="col">Position</th>
				</tr>
			</thead>
			<tbody>
				{% for result in team.results %}
					<tr>
						<td scope="row">{{ result.event }}</th>
						<td>{{ result.position }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}