{% extends 'blackbox/platform/header.html' %}
{% block 'head' %}
{% endblock %}
{% block 'body' %}
    <div class="row">
        <div class="col-lg-6"><h2><pre>{{ page.title }}</pre></h2></div>
        <div class="col-lg-4"></div>
        {% if header.button %}
            <div class="col-lg-2" style="">
                <a href="{{ header.button.link }}" class="btn btn-info" style="margin-top:-5px;">
                    {{ header.button.text }}
                </a>
            </div>
        {% endif %}
    </div>
    {% for block in page.element_list.blocks %}
        {% include "blackbox/block_app/base/displayBlock.html" with context=block only %}
    {% endfor %}
{% endblock %}
