{% extends 'console/header.html' %}
{% block 'head' %}
{% endblock %}
{% block 'body' %}
    <div class="row">
        <div class="col-lg-6"><h2><pre>{{ title }}</pre></h2></div>
        <div class="col-lg-4"></div>
        {% if header.button %}
            <div class="col-lg-2" style="">
                <a href="{{ header.button.link }}" class="btn btn-info" style="margin-top:-5px;">
                    {{ header.button.text }}
                </a>
            </div>
        {% endif %}
    </div>
    {% for key, element in element_list.items %}
        {% include "event_management/eventDisplayBlock.html" with context=element only %}
    {% endfor %}
{% endblock %}
