<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="CISCA Admin Dashboard">
        <meta name="author" content="Jeffrey Kam">
        <title>CISCA Admin</title>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/simple-sidebar.css" rel="stylesheet">
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">Admin Dashboard</a>
                    </li>    
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Event</a></li>
                    <li><a href="#">School</a></li>
                    <li><a href="#">Season</a></li>
                    <li><a href="#">Region</a></li>
                    <li><a href="#">Dev Enviornment</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <h1>Dashboard</h1>

                </div>
            </div>
            
        </div>
    </body>
</html>
